*{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
}

.container{
    background: pink;
    border:solid red 2px;
    height: 500px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: space-around;
}

.box3{
    flex-grow: 1;
}

.container div{
    background: green;
    border:1px solid white;
}