@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Jua', sans-serif;
}

html{height: 100vh; width: 100%;}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 30px; */
    background-image: url(./pinkBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkgray;
}

/* Main 화면 */
#main{
    background-color: indianred;
    width: 800px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    padding: 2%;
    /* position: absolute; */
}

#gola{
    background-color: white;
    width: 70%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 90px; color:indianred; text-align: center;
}

#bigBag{
    background-image: url(./bag.png);
    background-size: cover;
    width:80%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 160px;
    line-height: 90%;
    color: black;
}

#menu{
    width: 40%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
}

#start, #intro{
    width: 200px;
    padding: 10px;
    margin-bottom: 80px;
    background-color: indianred;
    border: 5px outset rgb(234, 119, 119);
    border-radius: 10px;
    box-shadow: 0px 0px 10px pink;
    font-size: 200%;
    color: white;
}

#start:hover, #intro:hover{
    background-color: rgb(172, 71, 71);
    border-color: indianred;
    box-shadow: 0px 0px 15px pink;
    cursor: pointer;
}

#container{
    background-color: white;
    width: 800px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    position: absolute;
    /* z-index: 2; */
}

/* 진열장 */
#showcase{
    border-radius: 10px;
    width: 580px;
    height: 100%;
    background-color: indianred;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

td{
    width: 110px;
    height: 110px;
    border: 1px solid;
    text-align: center;
    font-size: 35px;
    background-color: white;
    /* color: rgba(255, 255, 255, 0); */
}

.im{
    width: 90px;
    height: 90px;
    text-align: center;
}

td:hover{
    font-size: 40px;
    transition: font-size 1.5s;
    cursor: pointer;
}

.active{
    background-color: powderblue;
}

#sale{
    animation: sparkle 0.5s;
}

.item {
    animation: fadeIn 0.8s 0.3s;
}
/* .remove {
    animation: fadeOut 0.3s;
} */

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50%)
    }

    to {
        opacity: 1;
        transform: translateY(0%)
    }
}
/* @keyframes fadeOut {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
} */

@keyframes sparkle{
    0% {
    /* opacity: 0; */
    transform: scale(1);
    }
    25% {
        /* opacity: 1; */
        transform: scale(1.3);
    }
    50% {
        /* opacity: 1; */
        transform: scale(1);
    }
    75%{
        /* opacity: 0; */
        transform: scale(1.3);
    }
    100%{
        /* opacity: 0; */
        transform: scale(1);
    }
}

/* 타이머 막대 */
#timeBar{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 50px;
    height: 100%;
}

/* Navigation */
#nav{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    width: 150px;
    height: 100%;
    align-items:center;
    background-color: rgba(205, 92, 92, 0.378);
    font-size: 23px;
}

#gameName{ 
    color: indianred;
    font-size: 36px;
}

#stage{
    background-color: indianred;
    padding:3px;
    color:white;
    border-radius : 5px;
}

#mission{
    background-color: indianred;
    padding:3px;
    color:white;
    border-radius : 5px;
}

#bag{
    background-image: url('./bag.png');
    background-size:cover;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

#sale{
    z-index: 0;
}

#hitItem{
    background-color: white;
    border: 10px solid indianred;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer{
    background-color: indianred;
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: 80%;
    font-size: 20px;
    text-align: center;
}


