@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Jua', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display : flex;
    justify-content: center;
    align-items: center;
    background-image: url(./pinkBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkgray;
}

#container{
    background-color: white;
    width: 800px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}

/* 진열장 */
#showcase{
    /* border: 10px indianred solid; */
    border-radius: 10px;
    width: 580px;
    height: 100%;
    background-color: indianred;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

td{
    width: 110px;
    height: 110px;
    border: 1px solid;
    text-align: center;
    font-size: 35px;
    background-color: white;
}

td:hover{
    font-size: 40px;
    transition: font-size 0.5s;
    cursor: pointer;
}

.active{
    background-color: powderblue;
}

#sale{
    animation: sparkle 0.5s;
}

.item {
    animation: fadeIn 1s;
}
.remove {
    animation: fadeOut 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50%)
    }

    to {
        opacity: 1;
        transform: translateY(0%)
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes sparkle{
    0% {
    /* opacity: 0; */
    transform: scale(1);
    }
    25% {
        /* opacity: 1; */
        transform: scale(1.3);
    }
    50% {
        /* opacity: 1; */
        transform: scale(1);
    }
    75%{
        /* opacity: 0; */
        transform: scale(1.3);
    }
    100%{
        /* opacity: 0; */
        transform: scale(1);
    }
}

/* 타이머 막대 */
#timeBar{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 50px;
    height: 100%;
}

/* Navigation */
#nav{
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    width: 150px;
    height: 100%;
    align-items:center;
    background-color: rgba(205, 92, 92, 0.378);
    font-size: 23px;
}

#gameName{ 
    color: indianred;
    font-size: 36px;
}

#stage{
    background-color: indianred;
    padding:3px;
    color:white;
    border-radius : 5px;
}

#mission{
    background-color: indianred;
    padding:3px;
    color:white;
    border-radius : 5px;
}

#bag{
    background-image: url('./bag.png');
    background-size:cover;
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hitItem{
    background-color: white;
    border: 10px solid indianred;
    width: 120px;
    height: 120px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer{
    background-color: indianred;
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: 80%;
    font-size: 20px;
    text-align: center;
}


