
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    padding: 20px;
    border-bottom: 6px lavender solid;
    text-align: center;
}

section{
    height: 400px;
    padding: 10px;
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 10px;
}

#list{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item{
    padding: 10px;
    margin-bottom: 10px;
    border-right: 2px lavender solid;
    border-bottom: 2px lavender solid;
    border-radius: 10px;
}

#menu{
    height:300px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#addForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.form-group{
    display: flex;
    width: 100%;
    padding: 5px;
}

label{
    width: 15%;
    font-weight: bold;
}

input[type="text"]{
    width: 85%;
    padding: 3px;
    border: solid lavender 1px;
    border-radius: 5px;
}

textarea{
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
    border: solid lavender 1px;
    border-radius: 5px;
}

button{
    margin: 5px;
    font-size: 25px;
    border: solid lavender 1px;
    border-radius: 5px;
    cursor: pointer;
}

#garbage{
    margin: 5px;
    padding: 20px;
    font-size: 50px;
    text-align: center;
    border: 1px lavender solid;
    border-radius: 5px;
}



footer{
    padding: 15px;
    border-top: 1px lavender solid;
    text-align: center;
}